body {
  margin: 0;
  background-image: url('./images/mountains.jpg');
  background-color: royalblue;
  background-size:100vmax;
  background-blend-mode:screen;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav p {
  font-family: 'Montserrat Subrayada', sans-serif;
  color: rgb(85, 0, 141);
  font-size: 40px;
  line-height: 32px;
  float: left;
  padding-left: 75px;
  margin-top: 7px;
}

.lostBud{
  text-align: center;
  padding-top: 55px;
}

.lostBud :link:hover {
  font-weight: 800;
}

.WeatherPage{
  text-align: center;
  padding-top: 55px;
}

#howitwas {
width:max-content;
font-family: 'Montserrat', sans-serif;
}

.form-input {
  text-align: center;
  display: inline-block;
  padding: 5px;
}

.form-input input, textarea {
  text-align: center; 
}

.btn.dropdown-toggle  {
  width:150px;
  text-align:left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top:5px;
}

.form-label {
  padding-left:0px !important;
}


.btn-success {
  margin-top: 5px;
  background-color: #3b7d4a!important;
}

.btn-success:hover {
  background-color: #4daf64!important;
}

.albumImage {
  text-align: center;
  
}
